
button,a {
  background: #337ab7;
  border-color: #2e6da4;
}


:host /deep/ {
    ng2-smart-table {
     tbody{
      tr{
        td{
          input[type="checkbox"] {
            opacity: 1;
          }
        }
      }
     }
      
    }
    ng2-smart-table-pager {
      nav{
        background:#757575
      }
    }
  }
  