.btn {
    background-color:  #337ab7;
}
.btn:hover {
    background-color: #26a69a;
}
i {
    border-radius: 100%;
    color: white;
    cursor: pointer;
    margin-left: 1.5%;
} 

.btn.cancel {
 background: rgb(229, 229, 229);
}
div.modal-footer {
    display: inline;
}

nav {
    background: #757575;
    margin-bottom: 3%;
}

