.btn {
    background-color:  #337ab7;
}
.btn:hover {
    background-color: #26a69a;
}
i {
    border-radius: 100%;
    color: white;
    cursor: pointer;
    margin-left: 1.5%;
} 

.btn.cancel {
 background: rgb(229, 229, 229);
}
div.modal-footer {
    display: inline;
}

nav {
    background: #757575;
    margin-bottom: 3%;
}

#error-section {
    color: red;
}
td {
    padding: 0;
}
td > ul.offset-m2 {
    margin-top: 0;
}

.smallText {
    font-size: .60rem;
    padding-left: 0;
    padding-right:0;
}

.glove {
    box-sizing: border-box;
    width: 90%;
    margin-left: 5%;
}

.biggerButton {
    padding:0;
}